body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ask-item-area {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgb(227, 235, 245);
}

.ask-item-box {
  width: 30%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(204,221,242);
}

.ask-item {  
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  font-size: 10px;
  text-align: right;
  background-color: transparent;
}

.bid-item-area {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(251, 241, 239);
}

.bid-item {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  font-size: 10px;
  text-align: right;
  background-color: transparent;
}

.bid-item-box {
  width: 30%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(245,217,214);
}

.hoga-item {
  display: inline-block;
  width: 60%;
}

.change-rate-item {
  display: inline-block;
  width: 40%;
}

td {
  font-size: 10px;
}

.trade-item {
  display: inline-block;
  width: 50%;
  font-size: 10px;
}